<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <div>
           <%= form.hidden_field :user_id, value: current_user.id, class: "form-control" %>
        </div>

        <div>
          <%= form.label :titulo %>
          <%= form.text_field :titulo, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :body%>
          <%= form.text_area :body, class: "form-control" %>
        </div>

        <div>
          <%= form.submit "Criar Post" , class: "btn btn-outline-dark" %>
          <%= link_to "Back to posts", posts_path, class: "btn btn-outline-dark" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
